.img-responsive {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border: none;
}

html {
    scroll-behavior: smooth;
}

.mainImg {
    border: 1px solid #000;
}

.logo {
    margin-top: -20px;
    margin-bottom: -58px;
    margin-left: 60px;
}

.outer-wrapper {
    background: #141216;
}

.nav-wrapper {
    background: #ffc900;
    padding: -30px;
}

.about-wrapper {
    /* text-align: center; */
    background: #efefef;
    padding: 50px;
}

table {
    font-family: arial, sans-serif;
    /* border-collapse: collapse; */
    width: 50%;
}

td,
th {
    /* border: 1px solid #dddddd; */
    /* text-align: start; */
    padding: 8px;
}

.name {
    font-size: 36px;
    color: #333;
    text-transform: uppercase;
    font-family: raleway, sans-serif;
    font-weight: 700;
    padding-bottom: 10px;
}

a {
    color: #000;
}

.name span {
    color: #fec608;
}

.name-sub {
    font-size: 18px;
    font-family: raleway, sans-serif;
    font-weight: 700;
    color: #666;
    padding-bottom: 15px;
    margin-top: -15px;
}

.about-inner {
    background: #fefefe;
    padding: 50px;
}

.main-sentence {
    font-family: raleway, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #333;
    font-weight: 400;
}

.main-topic {
    font-size: 13px;
    line-height: 24px;
    color: #333;
    font-family: raleway, sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #000;
}

.nav-wrapper ul {
    padding-left: 0px;
    list-style: none;
    margin-top: 35px;
}

.nav-wrapper li {
    display: inline;
}

.nav-wrapper li a {
    display: inline;
    padding: 3px 8px;
    border-radius: 3px;
    color: #000;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.resume-button {
    display: inline-block;
    text-align: center;
    background-color: #680000;
    width: 60%;
    /* height: 100; */
    /* padding: 10px 75px; */
    /* border-radius: 40%; */
    margin-top: 20px;
    color: #000;
    text-decoration: none;
}

.resume-button a:hover {
    color: #fff !important;
}

.resume {
    text-align: center;
}

.resume-wrapper {
    margin-left: 78px;
}

.skills {
    text-align: center;
}

.section-wrapper {
    background: #ffc900;
}

.section-head {
    text-align: center;
}

.bottom-wrapper {
    background: #0a0a0a;
    /* padding-top: 30px; */
}

.social-bar {
    /* position: relative; */
    margin-top: 0px;
    padding: 5px 10px;
    border-radius: 0;
    background: #680000;
    color: #fff;
    font-size: 25px;
    text-align: center;
}

.logo-bottom {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-wrapper {
    background: #000;
}

.footer-wrapper ul {
    padding-left: 0px;
    list-style: none;
}

.footer-wrapper li {
    display: inline;
}

.footer-wrapper li a {
    display: inline;
    padding: 6px 8px;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}